.dlUeSf,
.fFWwUW,
.gLDFkW {
    color: white !important;
}

.jbDTOK,
.clAXsr {
    padding-left: 25px !important;
    background-color: var(--secondary-bg-color-alt) !important;
}

.hmhrLa,
.eDKDLa{
    background-color: var(--main-bg-color) !important;
    border-color: var(--accent-color) !important;
}

.eIomku,
.ecQncK {
    background-color: var(--main-bg-color) !important;
    border-color: rgba(255,153,153,1) !important;
}

.iwDjIS {
    padding-left: 25px !important;
    background-color: var(--secondary-bg-color-alt) !important;
}
